$top-distance: 8vh;
$left-distance: 15vw;
$page-padding: 0 3vw;
$box-shadow-color: #928c8c64;
$small-box-shadow: 0px 0px 1px $box-shadow-color;
$common-box-shodow: 0px 0px 4px $box-shadow-color;
$large-box-shadow: 0px 0px 10px $box-shadow-color;
$title-font-color: rgb(36,47,87);
$ipt-font-color: rgb(9,82,200);
$holder-font-color: rgb(211,227,253);
$tip-font-color: rgb(249,190,23);
$page-back-color: rgb(244,247,252);
$main-show-color: rgb(60,118,244);
$main-back-color: rgb(244,249,255);
$secend-show-color: rgb(234,123,54);
$secend-back-color: rgb(252,245,237);
$third-show-color: rgb(143, 150, 172);
$third-back-color: rgb(250,252,254);