$top-distance: 8vh;
$left-distance: 15vw;
$main-show-color: rgb(60,118,244);
$main-back-color: rgb(244,249,255);
$secend-show-color: rgb(234,123,54);
$secend-back-color: rgb(252,245,237);
$third-show-color: rgb(143, 150, 172);
$third-back-color: rgb(250,252,254);
