@font-face {
  font-family: 'myIconfont';  /* Project id 4546675 */
  src: url('//at.alicdn.com/t/c/font_4546675_pz3u9465yrm.woff2?t=1715700831941') format('woff2'),
       url('//at.alicdn.com/t/c/font_4546675_pz3u9465yrm.woff?t=1715700831941') format('woff'),
       url('//at.alicdn.com/t/c/font_4546675_pz3u9465yrm.ttf?t=1715700831941') format('truetype');
}

.myIconfont {
  font-family: "myIconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiaban:before {
  content: "\e60e";
}

.icon-xueshengqingjia:before {
  content: "\e62e";
}

.icon-yuangongzhuanzheng:before {
  content: "\e616";
}

.icon-tiaodonglizhi:before {
  content: "\e6c2";
}

.icon-rencaizhaopin-zhaopinshezhi:before {
  content: "\e64d";
}

.icon-chucha:before {
  content: "\e6c7";
}

.icon-a-qingjia1:before {
  content: "\eabb";
}

.icon-baoxiao6:before {
  content: "\ebcc";
}

.icon-lizhi:before {
  content: "\ebf0";
}

