@font-face {
  font-family: 'iconfont';  /* Project id 4521856 */
  src: url('//at.alicdn.com/t/c/font_4521856_73ylw0i10xm.woff2?t=1714143468530') format('woff2'),
       url('//at.alicdn.com/t/c/font_4521856_73ylw0i10xm.woff?t=1714143468530') format('woff'),
       url('//at.alicdn.com/t/c/font_4521856_73ylw0i10xm.ttf?t=1714143468530') format('truetype');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ziyuanxhdpi:before {
  content: "\e64c";
}

.icon-zhanghao-copy:before {
  content: "\ea92";
}

